<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

	<variable name="applicationName" value="OpenVonMonitor" />
	<variable name="logsFolder" value="/var/dotnet-talk/logs/${var:applicationName}" />
	<variable name="logsArchivesFolder" value="${var:logsFolder}/archives" />

	<targets>
		<target name="ColoredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
			layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message} ${exception:format=ToString}">
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>

		<target xsi:type="File" name="ErrorLog" fileName="${var:logsFolder}/${var:applicationName}-${shortdate}-error.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="${var:logsArchiveFolder}/${var:applicationName}-{#}-error.zip"
				archiveEvery="Month"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMM"
				enableArchiveFileCompression="true"/>

		<target xsi:type="File" name="FullLog" fileName="${var:logsFolder}\${var:applicationName}-${shortdate}-full.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
				archiveFileName="${var:logsArchivesFolder}/${var:applicationName}-{#}-full.zip"
				archiveEvery="Month"
				archiveNumbering="Date"
				archiveDateFormat="yyyyMM"
				enableArchiveFileCompression="true"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
		<logger name="*" minlevel="Info" writeTo="FullLog" />
		<logger name="*" minlevel="Error" writeTo="ErrorLog" />
	</rules>
</nlog>